AuthType Basic
AuthName " Statistics"
/web/httpd2/conf/1480/virtualhosts.conf- AuthName "beermalt.org Statistics"
AuthUserFile /var/chroot/home/content/74/10467574/html/stats/.statspwd
Require valid-user
DirectoryIndex index.html
